__pycache__/
**/.vscode/
z_experimental_code/
testremiz/
REMI-z/
midis/
.DS_Store
to_arrange_midis/
arranged_midis/
HMM_repo/arranged_*/
HMM_repo/sonata/
**/test_*/
caihong_clip/
**/*.zip
arranged_caihong_clip_GA_repro/
arranged_caihong_clip_GA_improved/
debug_folder**/
to_delete/
to_debug/
human_guitar/
all_midis/
debug**.py
arranged_songs*/*/*.wav