__pycache__/
z_experimental_code/
testremiz/
REMI-z/
midis/
.DS_Store
to_arrange_midis/
arranged_midis/
test_arr_midis/
test_arranged_midis/
HMM_repo/sonata/
HMM_repo/test_arranged_midis_CAGED/
HMM_repo/test_arranged_midis_original/